/* Override Bootstrap */
.btn-primary, .btn-primary:focus {
    background: #7AC0B4;
    border-color: #7AC0B4;
}
.btn-primary:hover {
    background: #4ea797;
    border-color: #2b7a6c;
}
.btn-primary:not(:disabled):not(.disabled):active {
    background: #2f9483;
    border-color: #2f9483;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem #7AC0B480!important;
    box-shadow: 0 0 0 0.2rem #7AC0B480!important;
}

.btn-secondary, .btn-secondary:focus {
    background: #f2a181;
    border-color: #f2a181;
}
.btn-secondary:hover {
    background: #d68565;
    border-color: #d68565;
}
.btn-secondary:not(:disabled):not(.disabled):active {
    background: #d68565;
    border-color: #d68565;
}
.btn-secondary.focus, .btn-secondary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem #f2a181;
    box-shadow: 0 0 0 0.2rem #f2a181;
}
.form-control:focus {
    border-color: #f2a181;
    -webkit-box-shadow: 0 0 0 0.2rem #f2a181;
    box-shadow: 0 0 0 0.2rem #f2a181;
}
a:hover {
    color: #f2a181;
}

.pointer {
    cursor: pointer;
}


/* Colors */
.text-grey {
    color: #9d9d9d;
}
.text-coral {
    color: #7ac0b4;
}
.text-orange {
    color: #f2a181;
}

.bg-light {
    color: #f5f5f5;
}

/* Text */
.word-break-all {
    word-break: break-all;
}
.word-break-word {
    word-break: break-word;
}

/* CUSTOM */
#loadMore {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
  }
  #loadMore a {
    background: #7ac0b4;
    border-radius: 3px;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    transition: all 0.25s ease-out;
    -webkit-font-smoothing: antialiased;
  }
  #loadMore a:hover {
    background-color: #f2a181;
  }
  #loadMore a:active {
    background-color: #f3926c;
  }
  .overflow-auto {
      overflow: auto;
  }