/* Override Bootstrap */
.btn-primary {
    background: #7AC0B4;
    border-color: #7AC0B4;
}
.btn-primary:hover {
    background: #4ea797;
    border-color: #2b7a6c;
}
.btn-primary:not(:disabled):not(.disabled):active {
    background: #2f9483;
    border-color: #2f9483;
}
.btn-primary.focus, .btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem #7AC0B480;
    box-shadow: 0 0 0 0.2rem #7AC0B480;
}
.form-control:focus {
    border-color: #7AC0B4;
    -webkit-box-shadow: 0 0 0 0.2rem #7AC0B480;
    box-shadow: 0 0 0 0.2rem #7AC0B480;
}
a:hover {
    color: #f2a181;
}

.pointer {
    cursor: pointer;
}

/* Colors */
.text-grey {
    color: #9d9d9d;
}
.text-coral {
    color: #7ac0b4;
}
.text-orange {
    color: #f2a181;
}

/* Text */
.word-break-all {
    word-break: break-all;
}
.word-break-word {
    word-break: break-word;
}